{% extends "common/base.html" %}
{% load placeholder %}
{% load static %}
{% block main_content %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <link rel="stylesheet" href="{% static 'css/accounts/edit-profile.css' %}">
        <title>DjigitAuto</title>
    </head>

    <body>

    <main>
        <div class="edit-delete">
            <h2>Edit Profile</h2>
            <form action="{% url 'edit profile' pk=object.pk %}" method="post">
                <p>
                    {{ form.profile_picture|placeholder:'Profile picture URL' }}
                </p>
                <p>
                    {{ form.first_name|placeholder:'First name' }}
                </p>
                <p>
                    {{ form.last_name|placeholder:'Last name' }}
                </p>
                <p>
                    {{ form.age|placeholder:'Age' }}
                </p>
                <button class="edit-btn" type="submit">Edit</button>
                {% csrf_token %}
            </form>
        </div>
    </main>
    </body>
    </html>
{% endblock %}