{% extends "common/base.html" %}
{% load static %}
{% block main_content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'css/offers/editcomment.css' %}"/>
        <title>DjigitAuto</title>
    </head>
    <body>
    <div class="container">
        <form id="edit-comment-form" action="{% url 'edit comment' pk=comment.car_offer.pk pk1=comment.pk %}" method="post">
            <h1>Edit Comment</h1>
            <input type="text" id="id_car_photo" name="text" placeholder="Text"/>
            {% csrf_token %}
            <button type="submit">Edit Comment</button>
        </form>
    </div>
    </body>
    </html>

{% endblock %}
