* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header h1 a {
    text-decoration: none;
    color: #fff;
}

header nav {
    display: flex;
    font-size: 1.2em;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

#box {
    width: 100%;
    margin: 0 auto;
}

footer {
    padding: 0.75em;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #333333;
    color:#fff;
}
