.edit-delete {
    margin-top: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-delete h2 {
    font-size: 40px;
    text-align: center;
    margin-top: -10px;
}

.edit-delete label {
    display: none;
}

.edit-delete input {
    background-color: rgb(240, 230, 230);
    border: 0.1px solid rgb(186, 184, 184);
    border-radius: 3px;
    height: 30px;
    width: 100%;
    padding-left: 2px;
    margin-top: 10px;
}

.edit-delete button {
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    height: 30px;
}
