#catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}

.offer-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 20px 20px 0;
    width: calc(20% - 20px);
    max-width: 300px;
}

.offer-card:last-child {
    margin-right: 0;
}

.offer-card:nth-child(5n + 6) {
    margin-top: 20px;
}

.offer-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    width: 300px;
}

.offer-card:last-child {
    margin-right: 0;
}

.offer-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    width: 300px;
}

.image-wrap img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.offer-details {
    padding: 20px;
    text-align: center;
}

.offer-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.offer-details h3 {
    margin-bottom: 5px;
    font-size: 16px;
}

.offer-details p {
    margin-bottom: 10px;
    font-size: 14px;
}

.offer-details h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.offer-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
    margin-top: 40px;
    overflow: hidden;
    width: calc(33.33% - 20px);
    max-width: 400px;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.edit-button, .delete-button {
    display: inline-block;
    padding: 5px 25px;
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 25px;
}

.edit-button:hover, .delete-button:hover {
    background-color: #007bff;
    text-decoration: none;
}
